<div class="container">
    <p class="h1 text-center"> Spell Sheet </p>
    <table class="table table-striped bg-secondary text-white text-center ">
        <tbody>
            <tr>
                <td>
                    <input class="form-control" type="text" [(ngModel)]='spellInventory.spellCastingClass'/>
                    Spell Casting Class
                </td>
                <td>
                    <mat-form-field appearance="fill" class="text-white">
                        <mat-select [(value)]="selectedSpellCastingAbility">
                            <mat-option value="STR">STR</mat-option>
                            <mat-option value="DEX">DEX</mat-option>
                            <mat-option value="CON">CON</mat-option>
                            <mat-option value="INT">INT</mat-option>
                            <mat-option value="WIS">WIS</mat-option>
                            <mat-option value="CHA">CHA</mat-option>
                        </mat-select>
                    </mat-form-field>

                </td>
                <td>
                    <input class="form-control" type="text" [(ngModel)]='spellInventory.spellSaveDC'/>
                    Spell Save DC
                </td>
                <td>
                    <input class="form-control" type="text" [(ngModel)]='spellInventory.spellAttackBonus'/>
                    Spell Attack Bonus
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="bg-secondary">
        <li>
            Cantrips:
            <ul>
                <li *ngFor='let cantrip of spellInventory.cantrips'>
                        {{cantrip}}
                        <button class="btn" (click)='removeCantrip(cantrip)'>Remove</button>
                        <button class="btn" (click)='editCantrip(cantrip)'>Edit</button>
                </li>
            </ul>
            <button class="btn" (click)='addCantrip("New Cantrip")'>Add Cantrip</button>
        </li>
        <li *ngFor='let spellLevel of spellInventory.spellLevels'>
            <div class="container"> 
                Level: {{spellLevel.level}} Slots: {{spellLevel.slotsTotal}} Expanded: {{spellLevel.slotsExpended}}
                <ul class="bg-secondary">
                    <li *ngFor='let spell of spellLevel.spells'>
                        {{spell}}
                        <button class="btn" (click)='removeSpell(spell, spellLevel.level)'>Remove</button>
                        <button class="btn" (click)='editSpell(spell, spellLevel.level)'>Edit</button>
                    </li>
                </ul>
                <button class="btn" (click)='addSpell(spellLevel.level)'>Add Spell</button>
            </div>
        </li>
    </ul>
    <hr>
</div>

