<div class='container'>

    <table class="table table-striped bg-secondary text-white text-center ">
        <tbody>
            <tr>
                <td rowspan="2" class="align-middle">
                    <input class="form-control" type="text" [(ngModel)]='character.characterName'/>
                    Character Name
                </td>
                <td>
                    <div class="d-flex justify-content-left align-items-center">
                        <input class="form-control" type="text" [(ngModel)]='character.characterClass'/>
                        <span class="ml-1 mr-1">Lvl.</span>
                        <input class="form-control w-25" type="number" [(ngModel)]='character.level' min="1"/>
                    </div>
                    Class & Level
                </td>
                <td>
                    <input class="form-control" type="text" [(ngModel)]='character.characterBackground'/>
                    Background
                </td>
                <td>
                    <input class="form-control" type="text" [(ngModel)]='character.playerName'/>
                    Player Name
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" type="text" [(ngModel)]='character.race'/>
                    Race
                </td>
                <td>
                    <input class="form-control" type="text" [(ngModel)]='character.alignment'/>
                    Alignment
                </td>
                <td>
                    <input class="form-control" type="number" [(ngModel)]='character.experience' min="0"/>
                    Experience Points
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped bg-secondary text-white">
        <tbody>
            <tr>
                <td class="text-center align-middle"><input class="form-control" type="number" min="0" [(ngModel)]='character.armorClass'/> AC </td>
                <td class="text-center align-middle"><input class="form-control" type="number" min="0" [(ngModel)]='character.inspiration'/>Inspiration</td>
                <td class="text-center align-middle"><input class="form-control" type="number" min="0" [(ngModel)]='character.passiveWisdom'/>Passive Wisdom</td>
                <td class="text-center align-middle"><input class="form-control" type="number" min="0" (change)='proficiencyChanged()' [(ngModel)]='character.proficiencyBonus'/>Proficiency Bonus</td>
            </tr>
        </tbody>
    </table>
</div>
<app-health-display></app-health-display>
<app-savingthrows-display></app-savingthrows-display>
<app-main-stat-display></app-main-stat-display>
