<div class="container text-center">
    <p class="text-center text-white h2">Health</p>
    <table class="table bg-secondary text-white text-center">
        <tbody>
            <tr>
                <td><input class="form-control" type="number" min="0" [(ngModel)]='health.maxHitpoints' />Hit Point Maximum</td>
                <td><input class="form-control" type="number" min="0" [(ngModel)]='health.currentHitpoints' (change)='currentHitpointsChanged()' />Current Hit Points</td>
                <td><input class="form-control" type="number" min="0" [(ngModel)]='health.temporaryHitpoints' />Temporary Hit Points</td>
            </tr>
        </tbody>
    </table>
    
    <table class="table bg-secondary text-white">
        <tbody>
            <tr>
                <td>
                    <div class="d-flex justify-content-center align-items-center">
                        <input class="form-control w-25" type="number" [(ngModel)]='damageTaken' min="0"/>
                        <button class="btn bg-dark text-white" type="button" (click)='takeDamage()'>Take Damage</button>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-center align-items-center">
                        <input class="form-control w-25" type="number" [(ngModel)]='healing'min="0"/>
                        <button class="btn bg-dark text-white" type="button" (click)='heal()'>Heal</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
